{% extends "base.html.twig" %}
{% block title %}{{ post.title }}{% endblock %}
{% block body %}
<div class="white black-text section">
    <div class="container">
        <h1>{{ post.title }}</h1>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('editpost', {id: post.id}) }}">Edit</a>
            <a href="#" onclick="deletePost()">Delete</a>
            <br/>
        {% endif %}
        <sub>{{ post.postedAt | date }}</sub>
        <p>{{ content.content | raw }}</p>
    </div>
</div>
<div class="container section">
    {{ include('comments/load-comments.html.twig', {'post': post}) }}
</div>
{% endblock %}

{% block stylesheets %}
    <style>
        body {
            background-color: #24292E;
            color: white;
        }
    </style>
{% endblock %}
{% block javascripts %}
    {% if app.user and 'ROLE_ADMIN' in app.user.roles %}
    <script>
        function deletePost() {
            if (window.confirm("Are you sure you want to delete this post?")) {
                window.location.replace("{{ path('deletepost', {id: post.id}) }}");
            }
        }
    </script>
    {% endif %}
{% endblock %}