<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block link %}
            <link rel="stylesheet" href="/css/materialize.min.css">
            <link rel="stylesheet" href="/css/style.css">
        {% endblock %}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block header %}
        <div class="header">
            <a href="/" class="headerbtn">Trang chủ</a> |
            {% if app.user %}
                <a href="" class="headerbtn">{{ app.user.username }}</a> | <a href="{{ path('logout') }}" class="headerbtn">Đăng xuất</a>
            {% else %}
                <a href="{{ path('login') }}" class="headerbtn">Đăng nhập</a> | <a href="{{ path('signin') }}" class="headerbtn">Đăng ký</a>
            {% endif %}
        </div>
        {% endblock %}
        {% block flash %}
            {% for key, value in app.flashes %}
                {% for item in value %}
                    <div class="flash flash-{{ key }} btn white">
                        {{ item | raw }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
