<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block link %}
            <link rel="stylesheet" href="/css/bulma.css">
            <link rel="stylesheet" href="/css/style.css">
        {% endblock %}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block header %}
            {% if app.user %}
                <div>
                    {{ app.user.username }}
                    <a href="{{ path('logout') }}"><button>Logout</button></a>
                </div>
            {% else %}
                <div>
                    <a href="{{ path('login') }}"><button>Log In</button></a>
                    <a href="{{ path('signin') }}"><button>Sign In</button></a>
                </div>
            {% endif %}
        {% endblock %}
        {% block flash %}
            {% for key, value in app.flashes %}
                {% for item in value %}
                    <div class="flash-{{ key }}">
                        {{ item | raw }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
