<div>
    <b>
        {% if comment.user.fullname %}
            {{ comment.user.fullname }}
        {% else %}
            {{ comment.user.username }}
        {% endif %}
    </b> <i>{{ comment.user.email }}</i>
    <p>{{ comment.content }}</p>
    <div style="padding-left: 10%">
        {{ include('comments/load-replies.html.twig', {'comment': comment, 'id': id, 'comments': comments}) }}
        {{ include('comments/form.html.twig', {'action': path('comment', {'id': id, 'to': comment.id})}) }}
    </div>
</div>